<div id="HomePage-container">
    <div id="heading-wrapper">
        <h1>Cinema </h1>
        <h1>By J.R</h1>
         <a href="/movies">
          <p>Check the Movies</p>
         </a>
    </div>
</div>