<nav id="search-header">
    <form action="/search" method="GET">
    <input type="text" placeholder="Search movie" name="q">
      <button type="submit"id="search-btn">Search movie</button>
    
    </form>

     <ul>
        <li>
            <a href="" class="nav-link">Add Movie</a>
        </li>
     </ul>
</nav>
<h1 id="no-result-msg">{{message}}</h1>
<a href="/movies" id="back-link">
<p style="text-align:center">back</p>
</a>